
<div>
  <div class="glass-container">
    <div class="glass-content">
      <form method="post" class="search-box">
        <input name = "searchInput" "searchInput" placeholder="Search...">
        <button type="submit" id="searchButton">Search</button>
      </form>
    </div>
  </div>

<div class="compiler">
    <!-- Left side -->
    <div class="left-side">
      <div class="feature-div">
        <h5>{{ ProblemName }} </h5>
        <p>Time Limit : {{TimeLimit}} </p>
     
        <p>Memory Limit : {{MemLimit}} </p>
        
        <p>Input: {{InputStandard}} </p>
        
        <p>Output: {{OuputStandard}} </p>
       
      </div>
      <div class="ques-body">
          <p>
              {{ProblemExplanation}}
          </p>
          <p class="ques-body">Input  </p>
            <p>
              {{ InputFormat }}
            </p>
            <p class="ques-body">Output</p>
            <p>
              {{ OutputFormat }}
            </p>
            <div class="section-tc">
              <p>Inputs</p>
                <div class="tc-formt shift-rgt">
                  <pre id="test-cases">
                   {{ ExampleInput }}
                  </pre>
                </div>
              </div>

              <div class="section-tc">
                <p>Output</p>
                <div class="tc-formt">
                  <pre id="output-tc">
                   {{ Example }}
                  </pre>
                </div>
          </div>
      </div>
    </div>

    <!-- Right side -->
    <div class="right-side">
      <div class="editor-container">
        <div id="editor">#include"iostream"

int main(){
    return 0;
}
        </div>
      </div>
      <button id="compileBtn">Compile</button>
      <div class="container_c">
        <!-- Input container -->
        <div class="input-container glass-effect">
          <textarea id="userInput" placeholder="Enter user input here..."></textarea>
        </div>
        <!-- Output container -->
        <div class="output-container">
          <div id="output"></div>
        </div>
        
      </div>
    </div>
  </div>
  </div>

  <script>
    {{!-- const searchInput = document.getElementById("searchInput");
    const searchButton = document.getElementById("searchButton");
    const fetchUrl = null;
    searchButton.addEventListener("click", function() {
      const searchValue = searchInput.value;
      fetchUrl = searchValue;
      console.log("hi");
      console.log('Search Value:', searchValue);
    }); --}}
  </script>

  